{
  "options": {
    "type": "area",
    "stack_mode": null,
    "yaxis_center": true,
    "yaxis_unit": "duration",
    "title": "Apache API Response Time",
    "yaxis_unit_base": "us"
  },
  "template": false,
  "groups": [
    {
      "series": [
        {
          "origin": "rrd",
          "source": "{{ ansible_fqdn }}",
          "metric": "tail-bayrunon-jimbalatero-com-response-time.response_time-response_time.value",
          "name": "Response Time"
        }
      ]
    }
  ],
  "name": "apache-api-response-time",
  "description": "/api response time"
}
