{
  "options": {
    "type": "area",
    "stack_mode": null,
    "yaxis_center": true,
    "yaxis_unit": "metric",
    "title": "Apache Bytes",
    "yaxis_label": "Bytes"
  },
  "template": false,
  "groups": [
    {
      "series": [
        {
          "origin": "rrd",
          "source": "{{ ansible_fqdn }}",
          "metric": "apache.bytes",
          "name": "Bytes"
        }
      ]
    }
  ],
  "name": "apache-bytes",
  "description": "Amount of data served by Apache, in bytes."
}
