{
  "options": {
    "type": "area",
    "stack_mode": null,
    "yaxis_center": true,
    "yaxis_unit": "fixed",
    "title": "Apache Bayrunon-web API Statuses"
  },
  "template": false,
  "groups": [
    {
      "series": [
        {
          "origin": "rrd",
          "source": "{{ ansible_fqdn }}",
          "metric": "tail-bayrunon-web.counter-api_status_3xx.value",
          "name": "3xx"
        }
      ]
    },
    {
      "series": [
        {
          "origin": "rrd",
          "source": "{{ ansible_fqdn }}",
          "metric": "tail-bayrunon-web.counter-api_status_4xx.value",
          "name": "4xx"
        }
      ]
    },
    {
      "series": [
        {
          "origin": "rrd",
          "source": "{{ ansible_fqdn }}",
          "metric": "tail-bayrunon-web.counter-api_status_5xx.value",
          "name": "5xx"
        }
      ]
    }
  ],
  "name": "apache-bayrunon-web-http-status-api"
}
