BaseDir "/etc/collectd"

LoadPlugin syslog
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin df
LoadPlugin rrdtool
LoadPlugin apache
LoadPlugin uptime
LoadPlugin swap
LoadPlugin tail

<Plugin "apache">
   <Instance "apache80">
       URL "http://localhost/server-status?auto"
   </Instance>
</Plugin>

<Plugin "swap">
    ReportIO false
    ReportBytes true
</Plugin>

<Plugin interface>
    Interface "lo"
    IgnoreSelected "true"
</Plugin>

<Plugin "df">
    IgnoreSelected false
    MountPoint "/"
    Interval 3600
</Plugin>

<Plugin rrdtool>
  DataDir "{{ rrdtool_datadir }}"
</Plugin>

<Plugin tail>
    <File "/var/log/exim4/mainlog">
        Instance "exim"
        Interval 60
        <Match>
            Regex "<="
            DSType "CounterInc"
            Type "mail_count"
            Instance "incoming"
        </Match>
        <Match>
            Regex "=>"
            DSType "CounterInc"
            Type "mail_count"
            Instance "outgoing"
        </Match>
        <Match>
            Regex "=="
            DSType "CounterInc"
            Type "mail_count"
            Instance "defer"
        </Match>
    </File>
</Plugin>
