BaseDir "/etc/collectd"

LoadPlugin syslog
LoadPlugin cpu
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin disk
LoadPlugin df
LoadPlugin rrdtool

<Plugin "interface">
  Interface "lo"
  IgnoreSelected true
</Plugin>

<Plugin rrdtool>
  DataDir "/var/lib/collectd/rrd"
</Plugin>
