BaseDir "/etc/collectd"

LoadPlugin syslog
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin df
LoadPlugin rrdtool
LoadPlugin apache
LoadPlugin uptime
LoadPlugin swap
LoadPlugin tail

<Plugin "apache">
   <Instance "apache80">
       URL "http://localhost/server-status?auto"
   </Instance>
</Plugin>

<Plugin "swap">
    ReportIO false
    ReportBytes true
</Plugin>

<Plugin interface>
    Interface "lo"
    IgnoreSelected "true"
</Plugin>

<Plugin "df">
    IgnoreSelected false
    MountPoint "/"
    Interval 3600
</Plugin>

<Plugin rrdtool>
  DataDir "{{ rrdtool_datadir }}"
</Plugin>

<Plugin tail>
    <File "/var/log/exim4/mainlog">
        Instance "exim"
        <Match>
            Regex "<="
            DSType "CounterInc"
            Type "mail_count"
            Instance "incoming"
        </Match>
        <Match>
            Regex "\\*\\*"
            DSType "CounterInc"
            Type "mail_count"
            Instance "frozen"
        </Match>
        <Match>
            Regex "=>"
            DSType "CounterInc"
            Type "mail_count"
            Instance "outgoing"
        </Match>
        <Match>
            Regex "=="
            DSType "CounterInc"
            Type "mail_count"
            Instance "defer"
        </Match>
    </File>

    <File "/var/log/auth.log">
        Instance "auth"
        <Match>
          Regex "\\<sshd[^:]*: Invalid user [^ ]+ from\\>"
          DSType "CounterInc"
          Type "counter"
          Instance "sshd-invalid_user"
        </Match>
    </File>

    <File "/var/log/apache2/bayrunon.jimbalatero.com-access-api-req.log">
        Instance "bayrunon-jimbalatero-com-response-time"
        <Match>
            Regex "\\s([0-9]+)$"
            DSType "GaugeAverage"
            Type "response_time"
            Instance "response_time"
        </Match>
    </File>
</Plugin>

